* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    touch-action: pan-y;
    background-image: url("bg.png");
}

/*Header*/

.miniheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.6rem solid #ffdf70;
    padding: 1rem;
    font-size: 1.6rem;
}

.miniheader span {
    color: #ffffff;
    font-weight: bold;
    margin: 1rem 0;
}

.miniheader .contribute a {
    color: #ffdf70;
}

/*Main*/

.play-area {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin: 2rem 0;
}

/*Bingo Board*/

#dyom {
    overflow-x: auto;
}

table {
    box-shadow: rgba(0, 0, 0, 0.25) 4px 6px 8px 2px;
    background-color: rgba(188, 193, 255, 0.8);
    backdrop-filter: blur(20px) brightness(200%);
    border-collapse: collapse;
    user-select: none;
    width: 100%;
}

td {
    font-weight: bolder;
    border: 0.6rem solid rgba(43, 55, 179, 0.8);
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    width: 16rem;
    height: 16rem;
    padding: 1.6rem;
}

td:hover {
    background-color: #ffffcf;
}

.selected:hover {
    background-color: #ffdf70;
}

.selected {
    background-color: #ffdf70;
}

td span {
    position: absolute;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #ccc;
    padding: 5px 10px;
    transition: opacity 600ms linear;
    pointer-events: none;
}

td:hover span {
    visibility: visible;
    position: absolute;
    transform: translate(-125px, 25px);
    width: 32ch;
    opacity: 0.9;
    z-index: 999;
}

/*Options*/

#options,
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#options form {
    flex-direction: column;
}

.option-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#options {
    margin: 2rem 1rem;
}

.formdiv {
    user-select: none;
    display: flex;
    width: 12rem;
    aspect-ratio: 1/1;
    margin: 0.5rem;
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
}

.formdiv label {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    padding: 16px 8px;
    background-color: #eee;
    border: 0.6rem solid #ccc;
}

.formdiv label:has(input:checked) {
    background-color: rgba(255, 204, 204, 0.75);
    border-color: rgba(255, 49, 49, 0.75);
}

.formdiv label:hover {
    background-color: #ffffcf;
    border-color: #ffdf70;
}

.generate-button {
    text-align: center;
}

button {
    margin-top: 1rem;
    user-select: none;
    font-size: 1.8rem;
    height: 5rem;
    background-color: #ffdf70;
    border: #ffd745 solid 5px;
    border-radius: 8px;
    min-width: 20rem;
}

button:hover {
    background-color: #ffffcf;
    border-color: #ffeba8;
}

button:active {
    background-color: #ffd745;
    border-color: #ffd745;
}

/*Footer*/

#out {
    background-color: #000000;
    text-align: center;
    border-top: 1rem solid #ffdf70;
    padding: 2rem;
}

#out h1 {
    color: #ffdf70;
    font-size: 3.6rem;
    margin: 5rem auto;
}

#out p {
    color: #ffffff;
    max-width: 70rem;
    font-size: 2rem;
    text-align: justify;
    margin: auto;
    margin-bottom: 3.6rem;
}

#out #version p {
    color: #ff8888;
    text-align: center;
}

@media (min-width: 600px) {

    /*Bingo Board*/
    .play-area {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
    }

    #dyom {
        overflow-x: unset;
    }

    td {
        font-weight: bolder;
        border: 0.6rem solid rgba(43, 55, 179, 0.8);
        text-align: center;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        width: 16rem;
        height: 10rem;
        padding: 1.6rem;
    }

    /*Options*/

    #options form {
        flex-direction: column;
        justify-content: center;
    }

    .option-buttons {
        display: flex;
        flex-wrap: wrap;
    }

    /*Footer*/

    #out {
        background-color: #000000;
        text-align: center;
        border-top: 1rem solid #ffdf70;
        padding: 2rem;
    }
    
    #out h1 {
        color: #ffdf70;
        font-size: 3.6rem;
        margin: 5rem auto;
    }
    
    #out p {
        color: #ffffff;
        max-width: 70rem;
        font-size: 2rem;
        text-align: justify;
        margin: 0 5rem;
        margin-bottom: 3.6rem;
    }
}

@media (min-width: 1024px) {

    /*Bingo Board*/
    .play-area {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        margin: 2rem;
    }

    #dyom {
        overflow-x: unset;
    }

    td {
        font-weight: bolder;
        border: 0.6rem solid rgba(43, 55, 179, 0.8);
        text-align: center;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        width: 12rem;
        height: 12rem;
        padding: 1.6rem;
    }

    /*Options*/

    #options form {
        flex-direction: column;
    }

    .option-buttons {
        display: flex;
        flex-direction: row;
    }

    .formdiv {
        width: 20rem;
        aspect-ratio: unset;
    }

    .generate-button {
        margin: auto;
    }

    /*Footer*/

    #howto p {
        margin: auto;
        margin-bottom: 3rem;
    }

    #version p {
        margin: auto;
    }
}

@media (min-width: 1280px) {
    /*Header*/
    .miniheader {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .miniheader .refresh {
        margin-left: 5rem;
    }
    
    .miniheader .contribute {
        margin-right: 5rem;
    }

    /*Bingo Board*/

    .play-area {
        flex-direction: row;
        font-size: 1.6rem;
        margin: 2rem;
    }

    td {
        width: 16rem;
        height: 12rem;
    }

    /*Options*/

    #options {
        margin: auto;
    }

    #options form {
        flex-direction: column;
        text-align: center;
    }

    .option-buttons {
        display: flex;
        flex-direction: column;
    }

    .formdiv label {
        justify-content: center;
    }

    .formdiv, #btn {
        width: 50rem;
        aspect-ratio: unset;
    }
}

@media (min-width: 1920px) {
    /*Header*/
    .miniheader .refresh {
        font-size: 2rem;
    }
    
    .miniheader .contribute {
        font-size: 2rem;
    }

    /*Bingo Board*/

    #dyom {
        display: flex;
        flex-grow: 1;
    }

    .play-area {
        height: 90vh;
        font-size: 2rem;
        margin: 2rem;
    }

    td {
        width: 20rem;
        height: 18rem;
    }

    /*Options*/

    .formdiv, #btn {
        width: 70rem;
        aspect-ratio: unset;
    }

    #options form, #btn {
        font-size: 2.4rem;
    }

    #btn {
        height: 7rem;
    }

}