<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
 >
</head>
<body>
  <a href="./index.html">
    <img src="./images/logo.png" width="128" alt="DYOM Bingo Logo">
  </a>
  <ul class="nav">
    <li><a href="./index.html">Home</a></li>
    <li><a href="./help.html">Help</a></li>
    <li><a href="./changelogs.html">Changelogs</a></li>
    <li>
      <a href="https://github.com/Toriality/DYOM-Bingo" target="_blank">
        Contribute
      </a>
    </li>
    <li>
      <i id="themeIcon" class="fa fa-adjust" aria-hidden="true"></i>
    </li>
  </ul>
</body>
