/*Header*/
.miniheader .refresh {
    font-size: 2rem;
}

.miniheader .contribute {
    font-size: 2rem;
}

/*Bingo Board*/

#dyom {
    display: flex;
    flex-grow: 1;
}

.play-area {
    height: 90vh;
    font-size: 2rem;
    margin: 2rem;
}

td {
    width: 20rem;
    height: 18rem;
}

/*Options*/

.formdiv, #btn {
    width: 70rem;
    aspect-ratio: unset;
}

#options form, #btn {
    font-size: 2.4rem;
}

#btn {
    height: 7rem;
}