/*Header*/
.miniheader {
    flex-direction: row;
    justify-content: space-between;
}

.miniheader .refresh {
    margin-left: 5rem;
}

.miniheader .contribute {
    margin-right: 5rem;
}

/*Bingo Board*/

.play-area {
    flex-direction: row;
    margin: 2rem;
}

td {
    width: 16rem;
    height: 12rem;
}

/*Options*/

#options {
    margin: auto;
}

#options form {
    flex-direction: column;
    text-align: center;
}

.option-buttons {
    display: flex;
    flex-direction: column;
}

.formdiv label {
    justify-content: center;
}

.formdiv, #btn {
    width: 50rem;
    aspect-ratio: unset;
}