#history {
  margin-top: 8rem;
}

#history h1 {
  padding: 1rem;
  background: #2b37b3;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}

#historyBox {
  display: flex;
  /*justify-content: space-around*/
  flex-wrap: wrap;
  row-gap: 4rem;
  padding: 2rem 8rem;
  background: #1a2431;
}

#historyBox .card {
  flex: 0 0 20%;
}

#historyBox table {
  width: unset;
}

#historyBox table:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#historyBox td {
  width: unset;
  height: unset;
  pointer-events: none;
}

/* TODO: Make helperText on this code and on table.css DRY */
#historyBox table span {
  position: absolute;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  background-color: black;
  color: #ccc;
  padding: 5px 10px;
  transition: opacity 600ms linear;
  pointer-events: none;
}

#historyBox table:hover span {
  visibility: visible;
  position: absolute;
  transform: translate(4%, 333%);
  width: 32ch;
  opacity: 0.9;
  z-index: 999;
}
