#history {
  margin-top: 8rem;
}

#history h1 {
  padding: 1rem;
  background: #2b37b3;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}

#historyBox {
  display: flex;
  /*justify-content: space-around*/
  flex-wrap: wrap;
  row-gap: 4rem;
  padding: 2rem 8rem;
  background: #1a2431;
}

#historyBox .card {
  flex: 0 0 20%;
}

#historyBox table {
  width: unset;
}

#historyBox td {
  width: unset;
  height: unset;
  pointer-events: none;
}
