#panel {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.textBox {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 5px;
  background-color: #ffffcf;
  user-select: none;
  border-radius: 5px;
  border: 10px solid #ffdf70;
}

.textBox.dark {
  color: #ffffff;
  background-color: #111111;
  border-color: #000000;
}

.formdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #ffffff;
  border: #ccc solid 0.5rem;
  border-radius: 0.8rem;
  margin: 1rem auto;
  font-weight: bold;
}

.formdiv.mouseenter {
  background-color: #ffeba8;
  border-color: #ffd745;
}

.formdiv.click {
  background-color: #ffaaaa;
  border-color: #ff6666;
}

.formdiv.dark {
  color: white;
  background-color: #333;
  border-color: #000000;
}

.formdiv.dark.mouseenter {
  background-color: #111;
}

.formdiv.dark.click {
  background-color: rgba(255, 49, 49, 0.75);
  border-color: rgba(99, 0, 0, 0.75);
}

button {
  margin-top: 1rem;
  user-select: none;
  font-size: 1.8rem;
  height: 5rem;
  background-color: #ffdf70;
  border: #ffd745 solid 0.5rem;
  border-radius: 0.8rem;
  min-width: 20rem;
}

#generate.dark {
  color: #ffffff;
  background-color: #001a34;
  border-color: #000b14;
}

#generate.dark:hover {
  background-color: #000911;
  border-color: #000b14;
}

#reset {
  background-color: #ff8888;
  border-color: #ff6666;
}

#reset.dark {
  color: #ffffff;
  background-color: #210909;
  border-color: #0f0000;
}

#reset.dark:hover {
  background-color: #0f0000;
  border-color: #0f0000;
}

#reset:hover {
  background-color: #ffcccc;
  border-color: #ffaaaa;
}

#reset:active {
  color: white;
  background-color: #ff6666;
  border-color: #ff6666;
}

button:hover {
  background-color: #ffffcf;
  border-color: #ffeba8;
}

button:active {
  background-color: #ffd745;
  border-color: #ffd745;
}

@media screen and (min-width: 1024px) {
  #options form {
    flex-direction: column;
  }

  .option-buttons {
    display: flex;
    flex-direction: row;
  }

  .generate-button {
    font-weight: bold;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  #panel {
    margin-top: 0;
  }

  #options {
    margin: auto;
  }

  #options form {
    flex-direction: column;
    text-align: center;
  }

  .option-buttons {
    display: flex;
    flex-direction: column;
  }

  .formdiv {
    width: min(48rem, 24vw);
  }

  .formdiv label {
    justify-content: center;
  }
}
